*{
  margin:0;
  padding:0;
  font-family:Century Gothic;

}
#index{
  background-image:linear-gradient(rgba(0,0,0,0.09),rgba(0,0,0,0.09)),url(text.png);
  height:50vh;
  background-size:cover;
  background-position:center;
}
#subpage{
  background-image:url(blue.png);
  height:68px;
  background-size:cover;
  background-position:center;
}
.logo{
  position:fixed;
  padding-left:5px;
}
.logo img{
  float:left;
  width:50px;
  height:auto;
  padding-left:5px;
  padding-top:6px;
}
.logo p{
  color:#000;
  margin-top:1px;
  margin-left:6px;
  font-weight:600;
}
/*
.main{
  max-width:1200px;
  margin:auto;
}
*/
.title{
  position:absolute;
  top:25%;
  left:50%;
  transform:translate(-50%,-50%);
  text-align:center;
}
.title h1{
  color:rgb(27, 18, 79);
  font-size:87px;
  font-weight:1000px;
  letter-spacing:1px;
}
.title h3{
  color:rgb(27, 18, 79);
  font-size:35px;
  font-weight:1000px;
  letter-spacing:1px;
}
.button{
  position:absolute;
  top:43%;
  left:50%;
  transform:translate(-50%,-50%);
  text-align:center;
}
.btn{
  border:1px solid #fff;
  padding:10px 30px;
  color:#fff;
  decoration:none;
  transition:0.6s ease;
}
.btn:hover{
  background-color:#fff;
  color:#000;
}
.topnav{
  float:right;
  list-style-type:none;
  margin-top:25px;
  display:inline-block;
  margin-right:30px;
}
.top{
  padding:5px 20px;
  color:#fff;
  text-decoration:none;
  transition:0.6s ease;
}
.top:hover{
  background-color:#fff;
  color:#000;
}
.aboutbg{
  width:80em;
  margin-left:20px;
  margin-right:20px;
  margin-top:20px;
}
.labels{
  font-size:20px;
  font-family:Lato;
  color:rgb(45, 99, 91);
  padding:2px 2px 2px 2px;
}
.labelsf{
  font-size:25px;
  font-family:Lato;
  color:rgb(50, 40, 140);
  padding:2px 2px 2px 2px;
}
.aboutbg img{
  position:absolute;
  width:auto;
  right:7%;
  height:400px;
  margin-top:20px;
  border:1px solid #000;
}
.faq{
  position:absolute;
  width:55em;
  right:40%;

}
.About{
}
.labelt{
  font-size:45px;
  font-family:Lato;
  color:rgb(50, 40, 140);
  padding:2px 2px 2px 2px;
  text-align:center;
  margin-top:20px;


}
/* Three columns side by side */
.column {
  float: right;
  width: 28%;
  margin-bottom: 16px;
  margin-top:10px;
  padding: 0 8px;
  align-items: center;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
.card img{
  border-radius: 50%;
}

/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
  align-items: center;
  text-align: center;
}

.title {
  color: grey;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(124, 125, 127);
  color: white;
  text-align: center;
}
.parallax {
  /* The image used */
  background-image: url("7.jpg");

  /* Set a specific height */
  min-height: 800px;
  min-width:100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
